/** @format */

* {
	padding: 0;
	margin: 0;
}

html {
	background-color: papayawhip;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* header styles */
header {
	text-align: center;
	margin: 50px;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1#gameTitle {
	font-size: 50px;
	color: #270e28;
}

h1,
#gameMode {
	width: 70%;
	margin: 0 auto;
}

h2#gameSubtitle {
	font-size: 30px;
	color: #349e83;
}

h4#result {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	color: #349e83;
	text-align: center;
	margin-bottom: 30px;
}

h5#gameInfoTitle {
	margin-top: 15px;
	font-size: 18px;
}

/* game mode styling */
.gameModeContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
	margin: 0 auto;
}

#gameModeInstruction {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #270e28;
}

#gameMode {
	width: 100%;
	background-color: #def0eb;
	padding: 5px 10px;
	font-size: 20px;
	border: 2px solid #270e28;
	border-radius: 5px;
}

/*scoreboard styling */
#scoreboard {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',sans-serif;
	font-size: 15px;
}
.scoreboardTitle {
	font-size: 20px;
	color: #084838;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 10px;
}
.scoreboard {
	margin-top: 5px;
	text-align: center;
}

.score-item {
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	border-radius: 5px;
}

#resetButton {
	margin: 5px;
	margin-left: 0;
	width: auto;
	height: auto;
	padding: 5px 10px;
	font-size: 15px;
}

/* game styling */
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
canvas {
	border: 3px solid #0f7d62;
	background-color: rgb(252, 244, 233);
	text-align: center;
	display: block;
	float: left;
}

canvas:hover {
	background-color: #def0eb;
}

#game {
	flex-grow: 1;
	position: relative;
	width: 670px;
	height: 322px;
	margin: 0 auto;
	padding-bottom: 60px;
}

#board {
	position: relative;
	margin: 0 auto;
	max-width: 318px;
	max-height: 314px;
	float: left;
	border: 3px solid #0f7d62;
	border-bottom: 5px solid #0f7d62;
}

/* game info and button styles*/
#gameInfo {
	position: relative;
	width: 318px;
	height: 318px;
	text-align: left;
	display: inline-block;
	padding-left: 20px;
	font-size: 16px;
	color: #270e28;
	margin-top: 5px;
}

p{
	margin-top: 5px;
}
button {
	margin-left: 35px;
	width: 200px;
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	background-color: #349e83;
	color: white;
	border: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
	border-radius: 3px;
}

button:hover {
	background: #9bf0db;
}

/* footer styles */
.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px;
	overflow: hidden;
	text-align: center;
}

.site-footer p {
	display: inline-block;
	margin-right: 10px;
}

.site-footer a {
	font-size: 20px;
	color: rgb(45, 108, 225);
	text-decoration: none;
	padding: 0 5px;
}

.site-footer a:hover {
	color: rgb(136, 174, 246);
	text-decoration: underline;
}

/* media queries */
@media (max-width: 768px) {
	.game-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1#gameTitle {
		font-size: 35px;
	}

	h2#gameSubtitle {
		font-size: 25px;
	}

	#game {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	button {
		margin-top: 25px;
		margin-left: 0;
	}

	#gameInfo {
		padding-bottom: 80px;
		padding-top: 40px;
	}

	.site-footer p {
		text-align: center;
		position: relative;
		margin-top: 0;
	}
}
